// colours
$color-white : #fff;
$color-black: #222;
$color-purple-light : #7676bd;
$color-purple-dark : #4e4c71;
$color-green : #80ca92;
$color-aqua : #76b1be;

// font sizes
$base-font-size : 16px;

// font stacks
$lato-stack : 'Lato', sans-serif;
